<div class="card rounder-5 p-2 bg-dark text-white" style="width: 18rem;">
    <img src="uploads/<%= blog.coverImage %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-uppercase fw-bold"> <%= blog.title %> </h5>
      <p class="card-text"> <%= blog.body %></p>
      <a href="#" class="btn btn-primary">Visit</a>
    </div>
  </div>